<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
       <br>
      </div>
      <div class="col-md-4">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="text-center">Log in</h4>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <form class="form-signin">
                  <div class="form-label-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",id: "inputEmail", class: "form-control", placeholder: "Email address" %>
                    <%= f.label :email, for: "inputEmail" %>
                  </div>
                  <div class="form-label-group">
                    <%= f.password_field :password, autocomplete: "current-password", for: "inputPassword", class: "form-control", placeholder: "Password" %>
                    <%= f.label :password, for: "inputPassword" %>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <% if devise_mapping.rememberable? -%>
                      <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck1"  %>
                      <%= f.label :remember_me, class: "custom-control-label", for: "customCheck1" %>
                    <% end -%>
                  </div>
                  <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
                  <hr class="my-4">
                  <%= link_to(user_google_oauth2_omniauth_authorize_path,class:"btn btn-lg btn-google btn-block text-uppercase") do %>
                    <i class="fab fa-google mr-2"></i> Log in with Google
                  <% end %>
                  <%= link_to(user_facebook_omniauth_authorize_path,class:"btn btn-lg btn-facebook btn-block text-uppercase") do %>
                    <i class="fab fa-facebook-f mr-2"></i> Log in with Facebook
                  <% end %>
                  <hr class="my-4">
                  <h4 class="text-center"><%= render "devise/shared/links" %></h4>  
                </form>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>