
  <div class="container">
    <div class="row space">
<!--left col-->
      <div class="col-md-3">   
        <h1 class="text-center">User name</h1>
          <%= image_tag("https://via.placeholder.com/200x230", width:"200px", height:"230px",alt: "Third slide", class: "d-block w-100") %>
          <p>Upload a different avatar...</p>
<!-- left profile -->
          <ul class="list-group panel panel-default">
            <li class="list-group-item text-center panel-heading">Profile</li>
            <li class="list-group-item">User Email</li>
            <li class="list-group-item">User Location</li>
            <li class="list-group-item">User introduction
              <p class="text-sm-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptate!</p>
            </li>
          </ul> 
<!-- left interest -->
          <ul class="list-group panel panel-default">
            <li class="list-group-item text-center panel-heading">Interest</li>
            <li class="list-group-item">label_id</li>
            <li class="list-group-item">label_id</li>
            <li class="list-group-item">label_id</li>
          </ul> 
<!-- update profile button -->
        <a class="btn btn-primary" href="#" role="button">Edit</a>
      </div><!--/col-md-3-->     
<!-- right all info -->
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="tabbable-panel">
              <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                  <li class="active">
                    <a href="#tab_default_1" data-toggle="tab">Join</a>
                  </li>
                  <li>
                    <a href="#tab_default_2" data-toggle="tab">Group</a>
                  </li>
                  <li>
                    <a href="#tab_default_3" data-toggle="tab">Going</a>
                  </li>
                  <li>
                    <a href="#tab_default_4" data-toggle="tab">Event</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_default_1">
                    <%= render partial: "shared/users/user_join" %>
                  </div>
                  <div class="tab-pane" id="tab_default_2">
                    <%= render partial: "shared/users/user_group" %>
                  </div>
                  <div class="tab-pane" id="tab_default_3">
                    <%= render partial: "shared/users/user_going" %>
                  </div>
                     <div class="tab-pane" id="tab_default_4">
                    <%= render partial: "shared/users/user_event" %>
                  </div>
                </div><!-- tab-content -->
              </div><!-- tabbable-line -->
            </div><!-- tabbable-panel -->
          </div><!-- col-md-9 -->
        </div><!-- row -->
      </div><!-- container -->
<!-- right end -->
    </div><!--row-->
  </div><!--container-->
