<header>
  <section>  
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("https://via.placeholder.com/1500x408", alt: "First slide", class: "d-block w-100 img-responsive") %>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("https://via.placeholder.com/1500x408", alt: "Second slide", class: "d-block w-100") %>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">Second Slide</h3>
            <p class="lead">This is a description for the second slide.</p>
          </div>
      </div>
      <div class="item">
        <%= image_tag("https://via.placeholder.com/1500x408", alt: "Third slide", class: "d-block w-100") %>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">Third Slide</h3>
            <p class="lead">This is a description for the third slide.</p>
          </div>
      </div>
    </div>
  </div>
</section>
</header>
<!-- Popular Events nearby link-->
<div class="pevent py-5 bg-light">
  <div class="container">
    <div class="row">
<!-- Popular Events nearby link 1-->
      <div class="col-md-4"> 
        <div class="card mb-4 shadow-sm">
          <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
          <div class="card-body">
            <h4 class="display-4">event datetime</h4>
            <h3 class="display-4">Group Name</h3>
            <p class="card-text">event adress</p>
            <p class="text-right"><small>postdate</small></p>
          </div>
        </div>
      </div>
<!-- Popular Events nearby link 2-->
      <div class="col-md-4"> 
        <div class="card mb-4 shadow-sm">
          <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
          <div class="card-body">
            <h4 class="display-4">event datetime</h4>
            <h3 class="display-4">Group Name</h3>
            <p class="card-text">event adress</p>
            <p class="text-right"><small>postdate</small></p>
          </div>
        </div>
      </div>
<!-- Popular Events nearby link 3-->
      <div class="col-md-4"> 
        <div class="card mb-4 shadow-sm">
          <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
          <div class="card-body">
            <h4 class="display-4">event datetime</h4>
            <h3 class="display-4">Group Name</h3>
            <p class="card-text">event adress</p>
            <p class="text-right"><small>postdate</small></p>
          </div>
        </div>
      </div>
<!-- Popular Events nearby link end-->
    </div>
  </div>
</div>
<!-- Label Group & Event link-->
<div class="lge py-5 bg-dark">
<!-- Label Group & Event -->
  <div class="container">
    <div class="row">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-info active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked>Group
        </label>
        <label class="btn btn-info">
          <input type="radio" name="options" id="option2" autocomplete="off"> Event
        </label>
      </div>
    </div>
  </div>
<!-- Your Group -->
  <div class="container">
    <div class="row">
      <h3>Your Group</h3>
      <div class="col-md-4 container">
        <h5>Group Name</h5>
        <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
      </div>
      <div class="col-md-4 container">
        <h5>Group Name</h5>
        <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
      </div>
      <div class="col-md-4 container">
        <h5>Group Name</h5>
        <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
      </div>
    </div>
  </div>
<!-- Suggested Group -->
  <div class="container">
    <div class="row">
      <h3>Suggested Group</h3>
      <div class="col-md-4 container">
        <h5>Group Name</h5>
        <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
      </div>
      <div class="col-md-4 container">
        <h5>Group Name</h5>
        <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
      </div>
      <div class="col-md-4 container">
        <h5>Group Name</h5>
        <%= image_tag("https://loremflickr.com/320/240/brazil,rio", alt: "", width:"100%", height:"225px", class: "card-img-top") %>
      </div>
    </div>
  </div>
</div>
<!-- Going Event -->
<div class="lge py-5 bg-dark">
  <div class="container">
    <div class="row">
      <h3>Going Event</h3>
      <ul class="event-listing-container">
        <li class="row" type="none"><h4>WEDNESDAY, SEPTEMBER 12(依日期分類)</h4></li>
        <li class="row" type="none">
          <ul class="event-listing-row">
            <li class="row event-listing" type="none">時間幾點<em>個會去 going</em></li>
            <li class="row" type="none"><h4>group name</h4></li>
            <li class="row" type="none">event name</li>
          </ul>       
        </ul>
      </li>       
    </div>
  </div>
</div>
<!-- Suggested Event -->
<div class="lge py-5 bg-dark">
  <div class="container">
    <div class="row">
      <h3>Suggested Event</h3>
      <ul class="event-listing-container">
        <li class="row" type="none"><h4>WEDNESDAY, SEPTEMBER 12(依日期分類)</h4></li>
        <li class="row" type="none">
          <ul class="event-listing-row">
            <li class="row event-listing" type="none">時間幾點<em>個會去 going</em></li>
            <li class="row" type="none"><h4>group name</h4></li>
            <li class="row" type="none">event name</li>
          </ul>       
        </ul>
      </li>       
    </div>
  </div>
</div>

<!-- footer -->
<%= render 'layouts/footer' %>
