  <br>
<!-- user.avatar -->
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
    <div class="col-md-3">
      <%= image_tag("http://i.pravatar.cc/100",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">user.name</h4> 
    </div>
  </div>
