  <br>
<!-- photo alburm -->
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("https://imgplaceholder.com/300x200/ff7f7f/333333/fa-image",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">photo alburm.name</h4>
      <p class="text-center">photo.alburm.date</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("https://imgplaceholder.com/300x200/ff7f7f/333333/fa-image",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">photo alburm.name</h4>
      <p class="text-center">photo.alburm.date</p> 
    </div>
    <div class="col-md-4">
      <%= image_tag("https://imgplaceholder.com/300x200/ff7f7f/333333/fa-image",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">photo alburm.name</h4> 
      <p class="text-center">photo.alburm.date</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("https://imgplaceholder.com/300x200/ff7f7f/333333/fa-image",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">photo alburm.name</h4>
      <p class="text-center">photo.alburm.date</p> 
    </div>
    <div class="col-md-4">
      <%= image_tag("https://imgplaceholder.com/300x200/ff7f7f/333333/fa-image",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">photo alburm.name</h4> 
      <p class="text-center">photo.alburm.date</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("https://imgplaceholder.com/300x200/ff7f7f/333333/fa-image",  height: "200px", width: "200px" ,alt: "Third slide", class: "d-block w-100") %>
      <h4 class="text-center">photo alburm.name</h4> 
      <p class="text-center">photo.alburm.date</p>
    </div>
  </div>
