  <br>
  <h1>Hello,<%= current_user.name %>!</h1>
  <br>
  <%= image_tag(group.image.url.to_s,  height:"300",width: "100%" ,alt: "Third slide", class: "d-block w-100") %>
  <br>
    <div class="row">
      <h2>Group-Description</h2>
      <br>
      <p>
        <%= group.description %>
      </p>
      <%= canJoin.to_s %>
    </div>
  <br>
  <% if canJoin %>
    <%= link_to "Join us", join_group_path(@group), method: :post, class: "btn btn-primary btn-group" %>
  <% else %>
    <%= link_to "Leave Group", leave_group_path(@group), method: :post, class: "btn btn-primary btn-group" %>
  <% end %>
  <br>