<div class="col-md-12">
    <table class="table table-striped custab text-center">
    <thead>
        <tr >
            <th class="text-center">ID</th>
            <th class="text-center">Avatar</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Location</th>
            <th class="text-center">Role</th>
            <th class="text-center">Update</th>
            <th class="text-center">Delete</th>

        </tr>
    </thead>
            <% @user.each do |u| %>
                <tr>
                    <td><%= u.id %></td>
                    <td class="text-center">
                    <% if u.avatar.url.present? %>
                        <%= image_tag(u.avatar.url, height: "50px", width: "50px")%>
                    <% else %>
                        <%= image_tag("https://via.placeholder.com/50x50", height: "50px", width: "50px") %>
                    <% end %>
                    </td>
                    <td><%= u.name %></td>
                    <td><%= u.email %></td>
                    <td><%= u.location %></td>
                    <td>
                        <select name="" id="" style="width: 70px">
                            <% u.roles.each do |r| %>
                                <option><%= r.name %></option>
                            <% end %>
                        </select>
                    </td>
                    <td class="text-center">
                        <%= button_to(edit_user_path(u), class:'btn btn-info btn-xs', :method => :get) do %>
                            <span class="glyphicon glyphicon-edit">Update</span>
                        <% end %>
                    </td>
                    <td class="text-center">
                        <%= button_to(user_path(u), class:'btn btn-danger btn-xs', :method => :delete, data: { confirm: "You sure?" }) do %>
                            <span class="glyphicon glyphicon-remove">Delete</span>
                        <% end %>
                    </td>
                </tr>
            <% end %>
    </table>
</div>