<!DOCTYPE html>
<html>
  <head>
    <title>LearnKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :header %>
  </head>
  <body>
<!-- user sign in and log in navigation-->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Learn Keeper</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Learn Keeper', root_path, :class => 'navbar-brand' %>
  </div>
<!-- nav links -->
    <div id="navbar" class="navbar-collapse collapse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to('', '#') %></li>
          <li><%= link_to('', '#') %></li>
          <li><%= link_to('', '#') %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to 'Admin',admin_root_path %></li>
            <% end %>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            <li><%= link_to('Message') %></li>
            <li><%= link_to('Notifications') %></li>
            <li><%= link_to('My Profile', user_path(current_user)) %></li>
            <% if current_user.avatar.url.present? %>
                <li><%= link_to(
                    image_tag(current_user.avatar.url, alt: "", width:"40px", height:"40px", \
                        class: "card-img-top"), user_path(current_user)) %>
                </li>
            <% else %>
                <li><%= link_to(
                    image_tag("https://via.placeholder.com/40x40", width:"40px", height:"40px", \
                        class: "card-img-top"), user_path(current_user)) %>
                </li>
            <% end %>
          <% else %>
            <li><%= link_to('Log in', new_user_session_path) %></li>
            <li><%= link_to('Sign up', new_user_registration_path) %></li>
          <% end %>
        </ul>
      </div>
     </div>
  </nav>
<!-- 提示警語區 -->
  <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success"><%= notice %></div>
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger"><%= alert %></div>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
